.history
async_FL_Server/Models/*
!async_FL_Server/Models/test.txt
async_FL_Server/.history
async_FL_Server/modelParams.yaml
async_FL_Server/client_q
async_FL_Client/data/*
!async_FL_Client/data/test.txt
async_FL_Client/.history
.history
data/*